/*Alex Paliani 09/22/2022*/

body {
    background-color: black;
    background-image: url("JWST\ Photos/Background3.gif");
    background-attachment: fixed;
}

/*Responsive Design*/
@media only screen and (max-width : 500px ){
	div#nav-container {
		display: none;
	}
	
	div#Heading-container {
		margin-bottom: 8vh;
	}
}


/*Timer countdown and background banner styles*/
header > p {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 20px;
    margin-top: 5px;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    margin-top: 5px;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

span {
    margin: 3vw;
}

p#Timer {
    margin-left: 15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 1000,
  'GRAD' 0,
  'opsz' 50
}

#timer-background {
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    z-index: -1;
    position: absolute;
    background-image: radial-gradient(rgb(44, 37, 94), rgb(0, 0, 0))
}

/*Webpage title styles*/
div > heading > a {
    border-radius: 8px;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    padding-bottom: 0;
}

div#Heading-container {
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    width: 100vw;
}

div > heading {
    background-color: rgb(13, 11, 27);
    border: 3px solid;
    border-radius: 12px;
    color: aliceblue;
    margin: auto;
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
}

/*Navigation bar styles*/
nav {
    text-align: center;
    display: flex;
    justify-content: center;
	margin-bottom: 5px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: auto;
    justify-content: center;
}

#NavMenu {
    margin: 10px;
    padding: 0;
    width: 900px;
    font-family: 'Poppins', sans-serif;
}

#NavMenu li {
    display: flex;
	justify-content: center;
    width: 10vw;
	height: 9vh;
    float: left;
    margin-left: 2px;
	padding: 0.2rem;
	background-color: rgb(13, 11, 27);
    border: 3px solid white;
    border-radius: 12px;
	transition: background-color 0.3s;
    transition-timing-function: ease-out;
}

#NavMenu li a.nav-anchors {
    color: aliceblue;
    display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1vw;
	padding: 0.2rem;
    text-decoration: none;
    transition: color 0.3s;
    transition-timing-function: ease-out;
}

#NavMenu li:hover {
    background-color: #FFF;
}

#NavMenu li:hover a{
	color: rgb(13, 11, 27);
}

a#Carina_Nebula {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

a#LD {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*Photo table styles*/
#table {
    background-color: rgb(13, 11, 27);
    border: 3px solid;
    border-radius: 12px;
    color: aliceblue;
    font-family: monospace;
    font-size: larger;
    width: 100vw;
    max-width: 500px;
}

#table tr > td:hover {
    background-color: aliceblue;
    color: rgb(13, 11, 27);
    font-family: monospace;
}

#table th {
    font-size: x-large;
    border-radius: 10px;
}

#table tr td a img{
    display: flex;
    margin: auto;
    align-content: center;
}

#table tr td {
    border-radius: 10px;
    transition: color 1s, background-color 1s;
    transition-timing-function: ease-out;
}

#table tr td p {
    text-align: center;
}

img#Carina {
    display: block;
    margin: auto;
}

img#Cartwheel {
    display: block;
    margin: auto;
}


footer > div{
    background-color: aliceblue;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    width: 80px;
}

footer > div > a {
    color: rgb(13, 11, 27);
    text-decoration: none;
    cursor: pointer;
}
